@charset "UTF-8";
/***********************共通設定************************/
br.sp {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  br.sp {
    display: none;
  }
}
br.pc {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  br.pc {
    display: none;
  }
}

/*====================================================================
お問い合わせフォーム
====================================================================*/
.contact_tit span {
  margin: 10px 0 0;
  font-size: 24px;
  display: block;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .contact_tit span {
    font-size: 16px;
  }
}

#contact_event .contact_tit {
  color: #FB8828;
}
#contact_event .contact_tit h1 {
  border-bottom: 4px solid #FB8828;
}

#contact_lecture .contact_tit {
  color: #20B590;
}
#contact_lecture .contact_tit h1 {
  border-bottom: 4px solid #20B590;
}

#contact_nhkp .contact_tit {
  color: #1C3271;
}
#contact_nhkp .contact_tit h1 {
  border-bottom: 4px solid #1C3271;
}

.contact_txt {
  margin: 30px 0 50px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .contact_txt {
    margin: 20px 0 20px;
  }
}
.contact_txt span {
  color: #FA071A;
}

.purchase_txt {
  margin: 30px 0 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .purchase_txt {
    margin: 20px 0 20px;
  }
}
.purchase_txt span {
  color: #FA071A;
}

.form_wrap {
  max-width: 1320px;
  text-align: left;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
  }
}

.form_tit {
  /* 751以上 */
  /* 750以下  */
  font-weight: bold;
}
@media all and (min-width: 751px) {
  .form_tit {
    width: 20%;
    padding: 15px 0;
  }
}
@media all and (max-width: 750px) {
  .form_tit {
    margin: 10px 0 5px;
  }
}
.form_tit span {
  color: #FA071A;
  font-size: 14px;
  font-weight: normal;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_tit span {
    display: block;
  }
}
.form_tit span.lecture_theme {
  color: #000;
  font-weight: bold;
}

.form_input {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_input {
    width: 80%;
  }
}
.form_input input, .form_input select, .form_input textarea {
  width: calc(100% - 30px);
  border: none;
  padding: 15px;
  margin: 10px 0;
  background: #F1F1F1;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_input input, .form_input select, .form_input textarea {
    margin: 5px 0 10px;
  }
}

.form_input_inner {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_input_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.form_input_inner .form_input {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_input_inner .form_input {
    width: calc(100% - 200px);
  }
}
.form_input_inner .form_input input, .form_input_inner .form_input select, .form_input_inner .form_input textarea {
  width: calc(100% - 30px);
  border: none;
  padding: 15px;
  background: #F1F1F1;
}
.form_input_inner .form_input select {
  width: 100%;
}
.form_input_inner .form_input.pulldown {
  position: relative;
}
.form_input_inner .form_input.pulldown::after {
  content: "";
  position: absolute;
  background-image: url(../images/contact/icon_select.png);
  width: 10px;
  height: 5px;
  background-size: cover;
  right: 20px;
  top: 33px;
  pointer-events: none;
}
.form_input_inner .form_input.mini {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_input_inner .form_input.mini {
    width: 30%;
  }
}
.form_input_inner select {
  color: #000;
  cursor: pointer;
}

.form_inner_tit {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_inner_tit {
    width: 170px;
    border-left: 1px solid #000;
    padding: 15px 0 15px 30px;
  }
  .form_inner_tit.full {
    width: 100%;
  }
}
.form_inner_tit.more_list {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px 20px;
  /* 750以下  */
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 750px) {
  .form_inner_tit.more_list {
    padding: 0 30px 20px 0;
  }
}
.form_inner_tit.more_list:hover {
  opacity: 0.6;
}
.form_inner_tit.more_list::after {
  content: "";
  position: absolute;
  background-image: url(../images/contact/icon_select.png);
  width: 10px;
  height: 5px;
  background-size: cover;
  right: 10px;
  top: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form_inner_tit.more_list.clicked::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form_mail {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_mail {
    padding: 0 0 0 20px;
    border-left: 1px solid #000;
  }
}

.clear_btn {
  margin: 60px auto 30px;
  max-width: 600px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .clear_btn {
    margin: 40px auto 20px;
  }
}
.clear_btn input {
  border: 1px solid #000;
  padding: 20px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.clear_btn:hover input {
  background: #000;
  color: #fff;
}

.submit_btn {
  margin: 0px auto 80px;
  position: relative;
  max-width: 600px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .submit_btn {
    margin: 0px auto 40px;
  }
}
.submit_btn input {
  border: 1px solid #000;
  padding: 20px;
  background: #000;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.submit_btn::before, .submit_btn::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.submit_btn::before {
  right: 30px;
  width: 30px;
  height: 2px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
  /* 1000以下  */
}
@media all and (max-width: 1000px) {
  .submit_btn::before {
    right: 26px;
    width: 20px;
    height: 1px;
    top: 49%;
  }
}
.submit_btn::after {
  right: 26px;
  width: 14px;
  height: 14px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 26px;
  /* 1000以下  */
}
@media all and (max-width: 1000px) {
  .submit_btn::after {
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 25px;
  }
}
.submit_btn:hover {
  color: #32373c;
  background-color: #fff;
}
.submit_btn:hover::before {
  right: 35px;
  background: #000;
}
.submit_btn:hover::after {
  right: 31px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  /* 1000以下  */
}
@media all and (max-width: 1000px) {
  .submit_btn:hover::after {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
}
.submit_btn:hover:hover input {
  background: #fff;
  color: #000;
}

.form_input_year_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 750以下  */
}
.form_input_year_wrap .form_inner_tit {
  border-left: none;
  padding: 15px 0;
  width: 8%;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_input_year_wrap .form_inner_tit {
    width: 15%;
  }
}
@media all and (max-width: 750px) {
  .form_input_year_wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.form_input_year {
  width: 85%;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_input_year {
    width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.form_input_year span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_input_year .year_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_input_year .day_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_input_time {
  width: 85%;
  /* 751以上 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (min-width: 751px) {
  .form_input_time {
    width: 92%;
  }
}
.form_input_time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*----------------------------------------------------------
フォーム チェックボックスのデザインを変える
----------------------------------------------------------*/
input[type=checkbox] {
  /* デフォルトcheckボックス非表示*/
  display: none;
}

.mwform-checkbox-field-text {
  display: inline-block;
  position: relative;
  padding: 0 36px 0 36px;
}

.mwform-checkbox-field-text::before,
.mwform-checkbox-field-text::after {
  content: "";
  position: absolute;
  display: block;
}

.mwform-checkbox-field-text::before {
  background: #F1F1F1;
  width: 48px;
  height: 48px;
  top: -11px;
  left: -40px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .mwform-checkbox-field-text::before {
    top: 0px;
    width: 24px;
    height: 24px;
    left: -15px;
  }
}

.mwform-checkbox-field-text::after {
  width: 27px;
  height: 21px;
  top: 2px;
  left: -29px;
  opacity: 0.1;
  background-image: url(../images/contact/check.png);
  z-index: 1;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .mwform-checkbox-field-text::after {
    top: 6px;
    width: 15px;
    height: 12px;
    left: -11px;
  }
}

input[type=checkbox]:checked + .mwform-checkbox-field-text::after {
  /* css擬似要素 :checked が付加されているときは表示  */
  opacity: 1;
}

.form_check label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_check label {
    margin: 0 0 50px;
  }
}
.form_check span {
  padding: 0 0 0px 40px;
  margin: 30px 0;
  cursor: pointer;
  cursor: hand;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_check span {
    padding: 0 0 0 15px;
    margin: 10px 0;
  }
}
.form_check .error {
  position: absolute;
}

.mw_wp_form_complete {
  margin: 100px 0;
}
.mw_wp_form_complete p {
  font-size: 24px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  line-height: 3;
  letter-spacing: 6px;
  text-align: center;
}

/*----------------------------------------------------------
フォームチェックでフォーム全体のスタイルを打ち消し
----------------------------------------------------------*/
#inquiry_check .required_add::after {
  display: none;
}
#inquiry_check .required_no::after {
  display: none;
}
#inquiry_check .input_wrap p, #inquiry_check .textarea_wrap p {
  background: #E8E8E8;
  padding: 19px;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #inquiry_check .input_wrap p, #inquiry_check .textarea_wrap p {
    width: 75%;
  }
}
#inquiry_check .check_wrap {
  display: none;
}

/*----------------------------------------------------------
フォームチェックのみのスタイル
----------------------------------------------------------*/
.inquiry_text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px;
}

.contact_type {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .contact_type select {
    width: 100%;
  }
}

p.contact_headline {
  color: #2FAAD0;
  font-family: "Kiwi Maru";
  font-size: 20px;
  margin: 0 0 20px;
}

.contact_thanks {
  margin: 100px 0;
  /* 750以下  */
}
.contact_thanks p {
  line-height: 3;
}
@media all and (max-width: 750px) {
  .contact_thanks {
    margin: 80px 0;
  }
}

.form_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_note {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_note {
    text-align: left;
  }
}

select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #ccc;
}

input[type=reset] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #000;
}

input[type=submit] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #fff;
}

input[name=submitBack] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #000;
}

.form_hidden {
  display: none;
}

.required, .required_num {
  font-size: 93%;
  color: #B70000;
  display: none;
}

.accord_list {
  display: none;
}
/*# sourceMappingURL=form.css.map */